@model PROJECT2.Models.DatVe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DatVe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuyenBay.SoHieuChuyenBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuyenBay.SoHieuChuyenBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoVaTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDatVe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
