@model PROJECT2.Models.SanBay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanBay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhPho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhPho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuocGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSanBayKyHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSanBayKyHieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSanBay }) |
    @Html.ActionLink("Back to List", "Index")
</p>
